{% extends 'forumbanner.html.twig' %}
{% block content %}
    <div id="page-content-div">
        <form action="{{ action }}" method ="{{ method }}">
            <h3>{{ page_heading_2 }}</h3>
            <fieldset>
                <label for="reply">Reply:</label> <select name="reply">
                    {% for reply in replies %}
                        <option value="{{ reply.replyid }}">{{ reply.replyname }}</option>
                    {% endfor %}
                </select>
                <br>
                <input type="submit" value="delete reply">
            </fieldset>
        </form>
    </div>
{% endblock %}