{% extends 'banner.html.twig' %}
{% block content %}
    <div id="page-content-div">
        <form action="{{ action }}" method ="{{ method }}">
            <h3>{{ page_heading_2 }}</h3>
            <fieldset>
                <label for="quizname">Quiz Name:</label> <input id="quizname" type="text" name="quizname" value="{{ quiz.quizname}}" size="10" required>
                <br>
                <label for="quizdesc">Quiz Description:</label> <input id="quizdesc" type="text" name="quizdesc" value="{{ quiz.quizdesc}}" size="10" required>
                <hr>
                <input type="submit" value="edit">
            </fieldset>
        </form>
    </div>
{% endblock %}