{% extends 'banner.html.twig' %}
{% block content %}
    <div id="page-content-div">
        <form action="{{ action }}" method ="{{ method }}">
            <h3>{{ page_heading_2 }}</h3>
            <fieldset>
                <p>{{ page_text }}</p>

                <label for="sys">Users:</label> <select name="sys">
                    {% for system in systems %}
                        <option value="{{ system.systemid }}">{{ system.systemname }}</option>
                    {% endfor %}
                </select>
                <br>
                <input type="submit" value="fetch system">
            </fieldset>
        </form>
    </div>
{% endblock %}