{% extends 'forumbanner.html.twig' %}
{% block content %}
   <div id="page-content-div" class="cent">
        <h2>{{ page_heading_2 }}</h2>

       <div class="table">
           <div class="table-row">
               <div class="l-table-head">Categories</div>
               <div class="r-table-head">Latest Topic</div>
           </div>
           <div class="table-row">
               <div class="l-table-cell"><h3><a href="viewcategory.php?id=" . {{ category.categoryid }}>Category name</a></h3> {{ category.categorydescription }}</div>
               <div class="r-table-cell"><a href="viewposts.php?id=" . {{ post.id }}>{{ post.postsubject }}</a>{{ post.postdate }}</div>
           </div>
       </div>
       <fieldset>
           <table>
               <tr>
                   <th>Categories</th>
                   <th>Latest Topic</th>
               </tr>
               {% if categories %}
                   {% for category in categories %}
                       <tr>
                           <td><h3><a href=category.php?id=" . {{ category.categoryid }}>Category name</a></h3> {{ category.categorydescription }}</td>
                           <td><a href="viewposts.php?id=" . {{ post.id }}>{{ post.postsubject }}</a>{{ post.postdate }}</td>
                       </tr>
                   {% endfor %}
               {% endif %}
           </table>
       </fieldset>


    </div>
{% endblock %}