{% extends 'banner.html.twig' %}
{% block content %}
{% if questions %}
<div id="page-content-div" class="cent">
  <h2>{{ page_heading_2 }}</h2>
  <fieldset>
    <form action="{{action}}" method="{{method}}">
      {% for question in questions %}
        <br>
        <h3>{{ question.question }}</h3>
        <br>
        <label for="{{question.choice1}}"><input type="radio" id="{{question.choice1}}" name="{{question.questionid}}" value="{{question.choice1}}">{{question.choice1}}</label>
        <label for="{{question.choice2}}"><input type="radio" id="{{question.choice2}}" name="{{question.questionid}}" value="{{question.choice2}}">{{question.choice2}}</label>
        <br><br>
        <label for="{{ question.choice3}}"> <input type="radio" id="{{ question.choice3}}" name="{{question.questionid}}" value="{{question.choice3}}">{{ question.choice3}}</label>
        <label for="{{ question.choice4}}"><input type="radio" id="{{ question.choice4}}" name="{{question.questionid}}" value="{{question.choice4}}">{{ question.choice4}}</label>
        <br>
      {% endfor %}
      <hr>
      <button id="submit">Submit Answers</button>
    </form>
  </fieldset>
</div>
{% endif %}

  {% if not questions %}
      <p class="cent">Quizzes need questions!</p>
  {% endif %}
{% endblock %}