{% extends 'forumbanner.html.twig' %}
{% block content %}
    <div id="page-content-div">
        <form action="{{ action }}" method ="{{ method }}">
            <h3>{{ page_heading_2 }}</h3>
            <fieldset>
                <p>{{ page_text }}</p>

                <label for="topic">Topic:</label> <select id="topic">
                    {% for post in posts %}
                        <option value="{{ post.postid }}">{{ post.postsubject }}</option>
                    {% endfor %}
                </select>
                <br>
                <input id="system" type="submit" value="select topic">
            </fieldset>
        </form>
    </div>
{% endblock %}