{% extends 'banner.html.twig' %}
{% block content %}
    <div id="page-content-div">
        {% if questions %}
        <form action="{{ action }}" method ="{{ method }}">
            <h3>{{ page_heading_2 }}</h3>
            <fieldset>
                <p>{{ page_text }}</p>

                <label for="questionid">Questions:</label> <select name="questionid">
                    {% for question in questions %}
                        <option value="{{ question.questionid }}">{{ question.question }}</option>
                    {% endfor %}
                </select>
                <br>
                <input type="submit" value="fetch question">
            </fieldset>
        </form>
        {% endif %}

        {% if not questions %}
            <p>No questions in quiz!</p>
        {% endif %}
    </div>
{% endblock %}