{% extends 'forumbanner.html.twig' %}
{% block content %}
    <div id="page-content-div" class="cent">
        <h2>{{ page_heading_2 }}</h2>
        <div class="table">
            <div class="table-row">
                <div class="post-l-table-head"><p class="heading">Users</p></div>
                <div class="post-r-table-head"><p class="heading">Content</p></div>
            </div>

            {% if replies %}
                {% for reply in replies %}
                    <div class="table-row">
                        <div class="post-l-table-cell">{{ reply.replyauthor }} {{reply.replydate}}</div>
                        <div class="post-r-table-cell"><div style="white-space: pre-line">{{ reply.replycontent}}</div></div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>

        {% if userrole == 1 %}
           <a href="delreplies?id={{ id }}">Delete Posts</a>
        {% endif %}
		<hr>
		<h2>{{ page_heading_3 }}</h2>
	    <form action="{{action}}" method="{{method}}">
	      <textarea rows="5" cols="50" name="reply_content" size="10" required></textarea>
		  <br>
	      <input type="submit" value="submit reply">
	    </form>
    </div>
{% endblock %}