{% extends 'banner.html.twig' %}
{% block content %}
    <div id="page-content-div">
        {% if quizzes %}
        <form action="{{ action }}" method ="{{ method }}">
            <h3>{{ page_heading_2 }}</h3>
            <fieldset>
                <label for="quiz">Quiz:</label> <select name="quiz">
                    {% for quiz in quizzes %}
                        <option value="{{ quiz.quizid }}">{{ quiz.quizname }}</option>
                    {% endfor %}
                </select>
                <br>
                <input type="submit" value="delete quiz">
            </fieldset>
        </form>
        {% endif %}

        {% if not quizzes %}
          <p>No quizzes to delete!</p>
        {% endif %}
    </div>
{% endblock %}