{% extends 'forumbanner.html.twig' %}
{% block content %}
    <div id="page-content-div">
        {% if categories %}
        <form action="{{ action }}" method ="{{ method }}">
            <h3>{{ page_heading_2 }}</h3>
            <fieldset>
                <label for="categories">Categories:</label> <select name="categories">
                    {% for category in categories %}
                        <option value="{{ category.categoryid }}">{{ category.categoryname}}</option>
                    {% endfor %}
                </select>
                <br>
                <input type="submit" value="delete category">
            </fieldset>
        </form>
        {% endif %}

        {% if not categories %}
          <p>No categories to delete!</p>
        {% endif %}
    </div>
{% endblock %}