{% extends 'banner.html.twig' %}
{% block content %}
    <div id="page-content-div">
      {% if sys %}
         {% if types %}
        <form action="{{ action }}" method ="{{ method }}">
            <h3>{{ page_heading_2 }}</h3>
            <fieldset>
                <p>{{ page_text }}</p>

                <label for="sysname">Voting System Name:</label> <input id="sysname" type="text" name="sysname" size="10" value = "{{ sys.0 }}" required>
                <br>
                <label for="systype">System Type:</label> <select id="systype" name="systype">
                    {% for type in types %}
                        <option value="{{ type.systemtypeid }}">{{ type.systemtypename }}</option>
                    {% endfor %}
                </select>
                <br>
                <label for="syssum">System Summary:</label> <input id="syssum" type="text" name="syssum" size="10" value="{{ sys.2}}" required>
                <br><br>

                <label for="sysinfo">System information:</label>
                <textarea rows = "5" cols = "50" name = "sysinfo" size="10" required>{{ sys.3 }}</textarea>
                <hr>
                <input type="submit" value="edit">
            </fieldset>
        </form>
        {% endif %}
        {% endif %}

        {% if not types %}
            <p>No types in database!</p>
      {% endif %}

      {% if not sys %}
          <p>No Systems loaded!</p>
      {% endif %}
    </div>
{% endblock %}