{% extends 'banner.html.twig' %}
{% block content %}
    <div id="page-content-div">
        {% if definition %}
        <form action="{{ action }}" method ="{{ method }}">
            <h3>{{ page_heading_2 }}</h3>
            <fieldset>
                <p>{{ page_text }}</p>

                <label for="word">Word:</label> <input id="word" type="text" name="word" size="10" value="{{ definition.0 }}" required>
                <br>
                <label for="def">Definition:</label> <input id="def" type="text" name="def" size="10" value="{{ definition.1 }}" required>
                <hr>
                <input type="submit" value="edit definition">
            </fieldset>
        </form>
        {% endif %}

        {% if not definition %}
          <p>No glossary entry loaded!</p>
        {% endif %}
    </div>
{% endblock %}