{% extends 'banner.html.twig' %}
{% block content %}
    <div id="page-content-div">
        {% if definitions %}
        <form action="{{ action }}" method ="{{ method }}">
            <h3>{{ page_heading_2 }}</h3>
            <fieldset>
                <label for="glossary">Glossary Entry:</label> <select id="glossary" name="glossary">
                    {% for definition in definitions %}
                        <option value="{{ definition.wordid }}">{{ definition.word }}</option>
                    {% endfor %}
                </select>
                <br>
                <input id="definition" type="submit" value="{{rel}}">
            </fieldset>
        </form>
        {% endif %}
        {% if not definitions %}
            <p>No definitions in glossary!</p>
        {% endif %}
    </div>
{% endblock %}